* {
  padding: 0;
  margin: 0;
}

#menu {
  display: flex;
  list-style: none;
  background-color: orange;
  color: aliceblue;
  font-size: 13px;
}

#menu>li {
  position: relative;
  float: left;
  font-family: Tahoma;
  font-weight: bolder;
  padding: 10px 20px;
  border-right: #CCCCCC solid 1px;
  text-align: center;
}

#menu>li:hover {
  background-color: rgb(205, 199, 26);
  color: black;
}

#menu li ul {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: orange;
  width: 150px;
}

#menu li:hover>ul {
  display: block;
}

#menu li ul li {
  padding: 10px 20px;
  color: #FFFFFF;
}

#menu li ul li:hover {
  background-color: rgb(215, 188, 36);
  color: rgb(0, 0, 0);
}

#menu li ul li ul {
  left: 100%;
  top: 120px;
}

#danhmuc {
  width: 220px;
  list-style: none;
}

#danhmuc>li {
  background-color: orange;
  
  color: white;
  
  
  list-style: none;
}

#danhmuc li ul {

  background-color: rgb(221, 185, 173);
  color: black;
  list-style: none;
}

#danhmuc li ul li {
  font-weight: bolder;
  font-size: 15px;
  border: 5px solid #e4ebec;
  padding: 5px;
  
}